node_modules
dist

backend/node_modules
frontend/node_modules
frontend/public/payload
frontend/public/uploads
frontend/.tez

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?